* {
    box-sizing: border-box;
    border: none;
    font-family: var(--font-main);
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.wrap {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 120px;
}

.wrap-no-vert {
    padding: 0px 25px;
}

.wrap-no-hor {
    padding: 15px 0px;
}

.c__standard-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 120px;
}

.c__copy {
    color: var(--copy-color);
    font-family: var(--font-copy);
    font-size: var(--copy-size);
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.7;
    margin: 75px 0 75px 0;
    max-width: 750px;
}

.c__copy-italics {
    color: var(--copy-color);
    font-family: var(--font-copy);
    font-size: var(--copy-size);
    font-style: italic;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.7;
    margin: 75px 0 75px 0;
    max-width: 750px;
}

.c__input {
    border: 1px solid black;
    font-size: var(--med);
    margin: 15px 0;
    padding: 15px;
}

.c__btn {
    background-color: var(--gold);
    color: var(--black);
    cursor: pointer;
    font-family: var(--font);
    font-size: var(--med);
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .1s all ease-in;
}

.c__btn:hover {
    background-color: var(--faded-gold);
    transition: .1s all ease-in;
}

.c__link {
    background-color: var(--gold);
    color: var(--black);
    font-family: var(--font);
    font-size: var(--small);
    font-weight: normal;
    letter-spacing: 1.5px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s all ease-in;
    min-width: 100px;
}

.c__link:hover {
    background-color: var(--faded-gold);
    transition: .1s all ease-in;
}

.c__hr {
    background-color: var(--gold);
    height: 1px;
    margin: 10px 0;
    width: 100%;
}

.c__text-link {
    border-bottom: 2px solid var(--gold);
    color: var(--black);
    cursor: pointer;
    font-family: var(--font);
    font-weight: bolder;
    padding: 2px 5px;
    text-decoration: none;
    transition: all .2s ease-out;
}

.c__text-link:hover {
    background-color: var(--gold);
    transition: all .2s ease-out;
}

.c__emoji {
    margin-right: -4px;
}

.react-share__ShareButton {
    padding: 0 15px !important;
}