.dev-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;
}

.dev-profile__img {
    box-shadow: 0px 0px 0px 0px black;
    filter: grayscale(1);
    display: block;
    border-radius: 100px;
    margin: 0 auto;
    transition: all .2s ease-in;
    width: 60%;
}

.dev-profile__img:hover {
    box-shadow: 0px 17px 24px -12px black;
    filter: grayscale(.15);
    transition: all .2s ease-in;
}

.dev-profile__name {
    font-weight: 300;
    margin: 5px;
    text-align: center;
}

.dev-profile__role {
    font-weight: 200;
    margin: 5px;
    text-align: center;
}
