.endeavor-page{}

.endeavor-page__img {
    display: block;
    margin: 15px auto 0px auto;
    max-height: 350px;
    padding: 0 50px 50px 50px;
    max-width: 100%;
}

.endeavor-page__endeavor-text {
    font-family: var(--font-decorative);
    font-size: var(--huge);
    text-align: center;
}

.endeavor-page__endeavor-title {
    font-family: var(--font-decorative);
    font-size: var(--huge);
    margin: 35px auto 0px auto;
    padding: 0 50px 50px 50px;
    text-align: center;
    width: 100%;
}

.endeavor-page__tray {
    align-items: center;
    border-bottom: 1px solid var(--faded-gold);
    border-top: 1px solid var(--faded-gold);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-between;
    padding: 15px 0;
}

.endeavor-page__status-text {
    margin: auto auto auto 0;
}

.endeavor-page__status-text {
    color: var(--faded);
    display: inline-block;
    font-size: var(--small);
    font-weight: lighter;
    margin: 0 10px 0 0;
}

.endeavor-page__status-label {
    border-radius: 15px;
    display: inline-block;
    font-size: var(--very-small);
    font-weight: lighter;
    padding: 5px 10px;
}

.endeavor-page__status-label--active {
    background-color: #D3F2C9;
    color: #4D7541;
}

.endeavor-page__status-label--inactive {
    background-color: #F2C9C9;
    color: #754141;
}

.endeavor-page__go-to {
    font-size: var(--small);
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

.endeavor-page__go-to--hidden {
    visibility: hidden;
}

.endeavor-page__start {
    color: var(--faded);
    font-size: var(--small);
    font-weight: lighter;
    margin: 0 0 0 auto;
    text-transform: uppercase;
}

.endeavor-page__info-section {
    padding: 45px 0;
}

.endeavor-page__info-block {
    margin: 0 0 100px 0;
}

.endeavor-page__text-title {
    border-left: 2px solid var(--gold);
    border-top: 2px solid var(--gold);
    display: table;
    font-family: var(--font-decorative);
    font-size: var(--big);
    margin: 0 0 45px 0;
    padding: 10px 15px 0 15px;
}

.endeavor-page__copy {
    margin: 15px 0 0 0;
}

.endeavor-page__media {
    border-bottom: 1px solid var(--faded-gold);
    display: flex;
    height: 400px;
    justify-content: space-between;
    padding: 45px 0;
    width: 100%;
}

.endeavor-page__media-img {
    filter: grayscale(1);
    height: 100%;
    object-fit: cover;
    object-position: left;
    padding: 5px;
    transition: all .2s ease-in;
    width: 49%;
}

.endeavor-page__media-img--full {
    object-position: center;
    width: 100%;
}

.endeavor-page__media-img:hover {
    filter: grayscale(0);
    transition: all .2s ease-in;
}

.endeavor-page__dev {
    margin: 0 50px 25px 0px;
}

.endeavor-page__collaborators {
    align-items: start;
    display: flex;
    flex-direction: var(--resp-flex-direction);
    flex-wrap: wrap;
}

.endeavor-page__out-link {
    font-weight: 300;
    margin-right: 50px; 
}

.endeavor-page__awards {
    display: flex;
    flex-direction: var(--resp-flex-direction);
}

.endeavor-page__award {
    margin: 0 100px 0 0;
}

.endeavor-page__award-img {
    display: block;
    height: 200px;
    margin: 0 auto 10px auto;
}

.endeavor-page__award-link {
    display: block;
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
    width: 150px;
}

@media (max-width: 700px) {
    .endeavor-page__img {
        padding: 0px 10px 50px 0;
    }

    .endeavor-page__tray {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .endeavor-page__start {
        margin: 10px auto 0 auto;
    }

    .endeavor-page__go-to {
        margin: 15px 0;
        order: -1;
    }

    .endeavor-page__dev {
        margin: 25px auto;
    }
    
    .endeavor-page__collaborators .endeavor-page__dev:first-child {
        margin: 25px auto;
    }

    .endeavor-page__go-to--hidden {
        display: none;
    }

    .endeavor-page__media-img {
        object-position: center;
    }

    .endeavor-page__award {
        margin: 0 auto 100px auto;
    }
}

