.footer {
    background-color: var(--black);
    font-family: var(--font-main);
    margin-top: 100px;
}

.footer__copywrite {
    color: var(--faded);
    font-size: var(--very-small);
    font-weight: lighter;
    margin-right: auto;
    text-transform: uppercase;
    text-align: center;
}

.footer__love {
    color: var(--faded);
    font-size: var(--very-small);
    font-weight: lighter;
    margin-left: auto;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 2px;
}

.footer__love-link {
    color: var(--white);
    font-weight: lighter;
    padding: 2px 0;
}

.footer__love-link:hover {
    color: var(--black);
}

.footer__socials {
    background-color: #151515;
    color: var(--white);
    font-size: var(--very-small);
    font-weight: lighter;
    text-transform: uppercase;
}

.footer__wrapper {
    align-items: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    flex-direction: var(--resp-flex-direction);
    justify-content: space-between;
    padding: 40px 40px;
}

.footer__twitter {
    margin: 0 auto;
    width: 65%;
}

@media (max-width: 700px) {
    .footer__copy {
        padding: 25px 20px;
    }
    
    .footer__copywrite {
        margin: 25px auto;
    }
    
    .footer__love {
        margin: 25px auto 0 auto;
    }
    
    .footer__twitter {
        margin: 25px auto;
        width: 100%;
    }

    .footer__wrapper {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }
}