.header-two {
    left: 0;
    padding: 15px;
    position: absolute;
    top: 0;
    z-index: 100;
}

.header-two__logo-text {
    color: var(--white);
    display: flex;
    font-size: 2.5rem;
    font-family: var(--font-decorative);
    justify-content: left;
    margin-bottom: -8px;
    padding: 15px 0 0 0;
}

.header-two__logo-text--dark {
    color: var(--black);
}

.header-two__logo-link {
    text-decoration: none;
}

.header-two__return {
    font-size: var(--very-small);
    font-weight: 300;
    color: var(--faded);
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease-in;
}

.header-two__return:hover {
    color: var(--white);
    transition: all .3s ease-in;
}

.header-two__return::before {
    content: "<";
    padding: 0 15px 0 0;
}

@media (max-width: 700px) {
    .header-two__logo-text {
        font-size: 1.5rem;
    }

    .header-two__return {
        font-size: .7rem;
    }
}
